<!DOCTYPE html>
<html lang="ka">
<head>
    <title>ალაზანი</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style5.css') }}">
</head>
<body>
    <!-- nav -->
    <header>
        <div class="holder">
            <h1>ალაზანი</h1>
            <input type="text" name="none" placeholder="search" class="search">
            <img src="{{ url_for('static', filename='search-interface-symbol.png') }}" alt="img" class="searching">
            <div class="small_fr um">
                <img src="{{ url_for('static', filename='user.png') }}" alt="img" class="userimg">
                <a href="{{ url_for('login') }}" class="um">აქაუნთის გაქტიურება(login)</a>
            </div>
            <div class="small_fr um">
                <img src="{{ url_for('static', filename='user.png') }}" alt="img" class="userimg">
                <a href="{{ url_for('register') }}" class="um">რეგისტრაცია (register)</a>
            </div>
            <div class="small_fr">
                <img src="{{ url_for('static', filename='market.png') }}" class="searching" alt="img">
                <p>Cart 0.00$</p>
            </div>
        </div>
        <nav>
            <a href="https://www.tbceducation.ge/" class="um">
                <img src="{{ url_for('static', filename='თბს-removebg-preview.png') }}"> თიბისი/გეოლაბი
            </a>
            <a href="{{ url_for('index') }}">მთავარი(home)</a>
            <a href="{{ url_for('add_items') }}">ნივთის დამატება</a>
        </nav>
    </header>
    <!-- nav end -->
   <div class="height">
    <div class="holder_2">
        <h1 class="title">ნივთის დამატება</h1>
         <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag()}}
    {{ form.item_name(class="form-control",placeholder="name") }}
    {{ form.img(class="form-control",placeholder="add img") }}
    {{ form.size(class="form-control",placeholder="size") }}
    {{ form.price(class="form-control",placeholder="price") }}
    {{ form.description(class="form-control",placeholder="wood you add a description")}}
    {{ form.submit(placeholder="add") }}
 </form>
    </div>
</div>
    <footer>
        <div class="foot">
            <h4>sponser and contributers</h4>
            <div class="foots">
                <a href="https://www.tbceducation.ge/" class="um">
                    <img src="{{ url_for('static', filename='თბს-removebg-preview.png') }}"> თიბისი/გეოლაბი
                </a>
                <a href="https://getbootstrap.com/" class="um">bootstrap</a>
                <h1 class="um">რათქმაუნდა მე</h1>
            </div>
        </div>
        <div class="foot">
            <h4>icons owners</h4>
            <div class="foots">
                <a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons by IYAHICON - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/search" title="search icons">Search icons by Catalin Fertu - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons by Freepik - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/shopping-bag" title="shopping bag icons">Shopping icons by Cap Cool - Flaticon</a>
            </div>
        </div>
        <div class="foot">
            <h4>idk something</h4>
            <div class="foots">
                <h1>I don’t know what can go here ;(</h1>
            </div>
        </div>
    </footer>
</body>
</html>