<!DOCTYPE html>
<html lang="ka">
<head>
    <title>ალაზანი</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <!-- nav -->
    <header>
        <div class="holder">
            <h1>ალაზანი</h1>
            <input type="text" name="none" placeholder="search" class="search">
            <img src="{{ url_for('static', filename='search-interface-symbol.png') }}" alt="img" class="searching">
            <div class="small_fr um">
                <img src="{{ url_for('static', filename='user.png') }}" alt="img" class="userimg">
                <a href="{{ url_for('login') }}" class="um">აქაუნთის გაქტიურება(login)</a>
            </div>
            <div class="small_fr um">
                <img src="{{ url_for('static', filename='user.png') }}" alt="img" class="userimg">
                <a href="{{ url_for('register') }}" class="um">რეგისტრაცია (register)</a>
            </div>
            <div class="small_fr">
                <img src="{{ url_for('static', filename='market.png') }}" class="searching" alt="img">
                <p>Cart 0.00$</p>
            </div>
        </div>
        <nav>
            <a href="https://www.tbceducation.ge/" class="um">
                <img src="{{ url_for('static', filename='თბს-removebg-preview.png') }}">
            </a>
            <a href="{{ url_for('index') }}">მთავარი(home){ახლახარ}</a>
            <a href="{{ url_for('add_items') }}">ნივთის დამატება</a>
        </nav>
    </header>
    <!-- nav end -->
    <div>
        <div class="imgholder">
            <img src="{{ url_for('static', filename='3_b88e3063-f67c-438f-9a62-a977fe08b26c 1.png') }}" class="smaller">
            <p class="life">Music is the universal language of emotions.</p>
            <button class="em">Explore more</button>
        </div>
    </div>
    <div class="title">
        <h2>what you may want</h2>
    </div>
    <div class="items">
        {% for item in items %}
        <div class="tec">
            <h3>{{ item.name }}</h3>
            <img src="{{ url_for('static', filename=item.img) }}" class="img">
            <a href="{{ url_for('see_info', item_pin=item.pin) }}" class="info">see info</a>
            <a href="{{ url_for('edit_items', pin=item.pin) }}" class="edit">edit_item</a>
            <a href="{{ url_for('delete', pin=item.pin) }}" class="dilit">
            <img src="{{ url_for('static', filename='delete.png') }}" class="delete">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="carusel_holder">
        <div class="discount">10% ფასდაკლება</div>
        <section class="carousel" aria-label="Gallery">
            <ol class="carousel__viewport">
                <li id="carousel__slide1" tabindex="0" class="carousel__slide">
                    <div class="carousel__snapper">
                        <a href="#carousel__slide4" class="carousel__prev">Go to last slide</a>
                        <a href="#carousel__slide2" class="carousel__next">Go to next slide</a>
                    </div>
                    <img src="{{ url_for('static', filename='mikrofoni.jpg') }}" class="big">
                </li>
                <li id="carousel__slide2" tabindex="0" class="carousel__slide">
                    <div class="carousel__snapper"></div>
                    <a href="#carousel__slide1" class="carousel__prev">Go to previous slide</a>
                    <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
                    <img src="{{ url_for('static', filename='skami.jfif') }}" class="big">
                </li>
                <li id="carousel__slide3" tabindex="0" class="carousel__slide">
                    <div class="carousel__snapper"></div>
                    <a href="#carousel__slide2" class="carousel__prev">Go to previous slide</a>
                    <a href="#carousel__slide4" class="carousel__next">Go to next slide</a>
                    <img src="{{ url_for('static', filename='onkani.jfif') }}" class="big">
                </li>
                <li id="carousel__slide4" tabindex="0" class="carousel__slide">
                    <div class="carousel__snapper"></div>
                    <a href="#carousel__slide3" class="carousel__prev">Go to previous slide</a>
                    <a href="#carousel__slide1" class="carousel__next">Go to first slide</a>
                    <img src="{{ url_for('static', filename='mikrofoni.jfif') }}" class="big">
                </li>
            </ol>
            <aside class="carousel__navigation">
                <ol class="carousel__navigation-list">
                    <li class="carousel__navigation-item">
                        <a href="#carousel__slide1" class="carousel__navigation-button">Go to slide 1</a>
                    </li>
                    <li class="carousel__navigation-item">
                        <a href="#carousel__slide2" class="carousel__navigation-button">Go to slide 2</a>
                    </li>
                    <li class="carousel__navigation-item">
                        <a href="#carousel__slide3" class="carousel__navigation-button">Go to slide 3</a>
                    </li>
                    <li class="carousel__navigation-item">
                        <a href="#carousel__slide4" class="carousel__navigation-button">Go to slide 4</a>
                    </li>
                </ol>
            </aside>
        </section>
    </div>
    <footer>
        <div class="foot">
            <h4>sponser and contributers</h4>
            <div class="foots">
                <a href="https://www.tbceducation.ge/" class="um">
                    <img src="{{ url_for('static', filename='თბს-removebg-preview.png') }}"> თიბისი/გეოლაბი
                </a>
                <a href="https://getbootstrap.com/" class="um">bootstrap</a>
                <h1 class="um">რათქმაუნდა მე </h1>
            </div>
        </div>
        <div class="foot">
            <h4>icons owners</h4>
            <div class="foots">
                <a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons created by IYAHICON - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/search" title="search icons">Search icons created by Catalin Fertu - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>
                <a href="https://www.flaticon.com/free-icons/shopping-bag" title="shopping bag icons">Shopping bag icons created by Cap Cool - Flaticon</a>
            </div>
        </div>
        <div class="foot">
            <h4>idk something</h4>
            <div class="foots">
                <a href="{{ url_for('index') }}">მთავარი(home){ახლა ხარ}</a>
                <a href="{{ url_for('add_items') }}">ნივთის დამატება</a>
                <a href="{{ url_for('login') }}" class="um">აქაუნთის გაქტიურება(login)</a>
                <a href="{{ url_for('register') }}">რეგისტრაცია(register)</a>
            </div>
        </div>
    </footer>
</body>
</html>