p {
    width: 60%;
    height: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 20%;
    font-family: "BPG LE Studio 04 Caps", sans-serif;
    color: green;
    font-size: 30px;
}